body, li, th, td, table, div, h1, h2, h3, h4, h5, h6, a, span, input, label {
    direction: rtl !important;
}

.ml-auto {
    margin-left: unset !important;
    margin-right: auto !important;
}

@for $i from 0 through 12 {
    .ml-#{$i} {
        margin-left: unset !important;
        margin-right: #{$i*0.25}rem !important;
    }

    .mr-#{$i} {
        margin-right: unset !important;
        margin-left: #{$i*0.25}rem !important;
    }
}

@for $i from 0 through 12 {
    .pl-#{$i} {
        padding-left: unset !important;
        padding-right: #{$i*0.25}rem !important;
    }

    .pr-#{$i} {
        padding-right: unset !important;
        padding-left: #{$i*0.25}rem !important;
    }
}

.text-left {
    text-align: right;
}

/* Global search placeholder text */
.pl-search {
    padding-left: unset !important;
    padding-right: 2.75rem;
}

/* Resource list icon */
.sidebar-icon {
    margin-right: unset !important;
    margin-left: .75rem;
}

/* Toast */
.toasted-container.bottom-right {
    right: unset !important;
    left: 5%;
}

/* BelongsTo */
div[dusk*="-search-input"] .form-select,
select.form-select {
    padding-right: .75rem;
    background-position: center left .75rem;
}

/* KeyValue : rows */
div.flex.flex-grow.border-b.border-50 > div.flex-grow.border-l.border-50 {
    border-left-width: 0;
    border-right-width: 1px;
}

/* KeyValue : delete */
div.flex.items-center > div.flex.justify-center.h-11.w-11.absolute {
    right: unset !important;
    left: -50px;
}

/* Image : hidden input */
input[type="file"].form-file-input {
    position: unset;
    float: left;
}

/* Ebess\AdvancedNovaMediaLibrary\Fields\Images */
.gallery .gallery-item {
    float: right !important;
}

/* Trix*/
trix-toolbar .trix-button-group:not(:first-child) {
    margin-left: unset !important;;
    margin-right: 1.5vw;
}

.select-box {
    background-size: 10px 6px;
    background-position: center left .75rem;
}

/* Code : CodeMirror */
.CodeMirror * {
    direction: ltr !important;
}

/* Trend chart */
.ct-chart {
    right: unset !important;
    left: 20px;
}

/* Spatie\TagsField\Tags */
.tags-input-remove {
    margin-left: unset;
    margin-right: .25rem;
}

/* NovaItemsField\Items */
.sortable-handle {
    left: unset;
    right: -5px;
}
