body, li, th, td, table, div, h1, h2, h3, h4, h5, h6, a, span, input, label {
    direction: rtl !important;
}

.ml-auto {
    margin-left: unset !important;
    margin-right: auto !important;
}

.ml-0 {
    margin-left: unset !important;
    margin-right: 0rem !important;
}

.mr-0 {
    margin-right: unset !important;
    margin-left: 0rem !important;
}

.ml-1 {
    margin-left: unset !important;
    margin-right: 0.25rem !important;
}

.mr-1 {
    margin-right: unset !important;
    margin-left: 0.25rem !important;
}

.ml-2 {
    margin-left: unset !important;
    margin-right: 0.5rem !important;
}

.mr-2 {
    margin-right: unset !important;
    margin-left: 0.5rem !important;
}

.ml-3 {
    margin-left: unset !important;
    margin-right: 0.75rem !important;
}

.mr-3 {
    margin-right: unset !important;
    margin-left: 0.75rem !important;
}

.ml-4 {
    margin-left: unset !important;
    margin-right: 1rem !important;
}

.mr-4 {
    margin-right: unset !important;
    margin-left: 1rem !important;
}

.ml-5 {
    margin-left: unset !important;
    margin-right: 1.25rem !important;
}

.mr-5 {
    margin-right: unset !important;
    margin-left: 1.25rem !important;
}

.ml-6 {
    margin-left: unset !important;
    margin-right: 1.5rem !important;
}

.mr-6 {
    margin-right: unset !important;
    margin-left: 1.5rem !important;
}

.ml-7 {
    margin-left: unset !important;
    margin-right: 1.75rem !important;
}

.mr-7 {
    margin-right: unset !important;
    margin-left: 1.75rem !important;
}

.ml-8 {
    margin-left: unset !important;
    margin-right: 2rem !important;
}

.mr-8 {
    margin-right: unset !important;
    margin-left: 2rem !important;
}

.ml-9 {
    margin-left: unset !important;
    margin-right: 2.25rem !important;
}

.mr-9 {
    margin-right: unset !important;
    margin-left: 2.25rem !important;
}

.ml-10 {
    margin-left: unset !important;
    margin-right: 2.5rem !important;
}

.mr-10 {
    margin-right: unset !important;
    margin-left: 2.5rem !important;
}

.ml-11 {
    margin-left: unset !important;
    margin-right: 2.75rem !important;
}

.mr-11 {
    margin-right: unset !important;
    margin-left: 2.75rem !important;
}

.ml-12 {
    margin-left: unset !important;
    margin-right: 3rem !important;
}

.mr-12 {
    margin-right: unset !important;
    margin-left: 3rem !important;
}

.pl-0 {
    padding-left: unset !important;
    padding-right: 0rem !important;
}

.pr-0 {
    padding-right: unset !important;
    padding-left: 0rem !important;
}

.pl-1 {
    padding-left: unset !important;
    padding-right: 0.25rem !important;
}

.pr-1 {
    padding-right: unset !important;
    padding-left: 0.25rem !important;
}

.pl-2 {
    padding-left: unset !important;
    padding-right: 0.5rem !important;
}

.pr-2 {
    padding-right: unset !important;
    padding-left: 0.5rem !important;
}

.pl-3 {
    padding-left: unset !important;
    padding-right: 0.75rem !important;
}

.pr-3 {
    padding-right: unset !important;
    padding-left: 0.75rem !important;
}

.pl-4 {
    padding-left: unset !important;
    padding-right: 1rem !important;
}

.pr-4 {
    padding-right: unset !important;
    padding-left: 1rem !important;
}

.pl-5 {
    padding-left: unset !important;
    padding-right: 1.25rem !important;
}

.pr-5 {
    padding-right: unset !important;
    padding-left: 1.25rem !important;
}

.pl-6 {
    padding-left: unset !important;
    padding-right: 1.5rem !important;
}

.pr-6 {
    padding-right: unset !important;
    padding-left: 1.5rem !important;
}

.pl-7 {
    padding-left: unset !important;
    padding-right: 1.75rem !important;
}

.pr-7 {
    padding-right: unset !important;
    padding-left: 1.75rem !important;
}

.pl-8 {
    padding-left: unset !important;
    padding-right: 2rem !important;
}

.pr-8 {
    padding-right: unset !important;
    padding-left: 2rem !important;
}

.pl-9 {
    padding-left: unset !important;
    padding-right: 2.25rem !important;
}

.pr-9 {
    padding-right: unset !important;
    padding-left: 2.25rem !important;
}

.pl-10 {
    padding-left: unset !important;
    padding-right: 2.5rem !important;
}

.pr-10 {
    padding-right: unset !important;
    padding-left: 2.5rem !important;
}

.pl-11 {
    padding-left: unset !important;
    padding-right: 2.75rem !important;
}

.pr-11 {
    padding-right: unset !important;
    padding-left: 2.75rem !important;
}

.pl-12 {
    padding-left: unset !important;
    padding-right: 3rem !important;
}

.pr-12 {
    padding-right: unset !important;
    padding-left: 3rem !important;
}

.text-left {
    text-align: right;
}

.pl-search {
    padding-left: unset !important;
    padding-right: 2.75rem;
}

.sidebar-icon {
    margin-right: unset !important;
    margin-left: 0.75rem;
}

.toasted-container.bottom-right {
    right: unset !important;
    left: 5%;
}

div[dusk*="-search-input"] .form-select, select.form-select {
    padding-left: 2rem !important;
    padding-right: 0.75rem !important;
    background-position: center left 0.75rem;
}

div.flex.flex-grow.border-b.border-50 > div.flex-grow.border-l.border-50 {
    border-left-width: 0;
    border-right-width: 1px;
}

div.flex.items-center > div.flex.justify-center.h-11.w-11.absolute {
    right: unset !important;
    left: -50px;
}

input[type="file"].form-file-input {
    position: unset;
    float: left;
}

.gallery .gallery-item {
    float: right !important;
}

trix-toolbar .trix-button-group:not(:first-child) {
    margin-left: unset !important;
    margin-right: 1.5vw;
}

.select-box {
    background-size: 10px 6px;
    background-position: center left 0.75rem;
}

.CodeMirror * {
    direction: ltr !important;
}

.ct-chart {
    right: unset !important;
    left: 20px;
}

.tags-input-remove {
    margin-left: unset;
    margin-right: 0.25rem;
}

.sortable-handle {
    left: unset;
    right: -5px;
}

.relationship-tabs-panel .tab-content > div > .relative > .flex {
    right: unset !important;
    left: 0;
}

.relationship-tabs-panel .tab-content > div > .relative > .flex > .w-full {
    margin-left: unset !important;
    margin-right: 1.5rem;
}

.select-box-sm {
    background-position: center left .55rem;
}

.collapsible-indicator {
    right: 60px !important;
}

.breadcrumbs__item a:after {
    position: inherit !important;
}

.multiselect__spinner {
    right: unset;
    left: 1px;
}

.multiselect__spinner:after, .multiselect__spinner:before {
    left: unset;
    right: 50%;
    margin: -8px -8px 0 0;
    border-top-color: var(--primary);
}

.multiselect {
    text-align: right;
}

.multiselect--active .multiselect__select {
    transform: rotate(-180deg)
}

.multiselect__input, .multiselect__single {
    padding: 0 5px 0 0;
}

.multiselect__single {
    padding-left: unset;
    padding-right: 5px;
}

.multiselect__tags {
    padding: 8px 8px 0 40px;
}

.multiselect__tag {
    padding: 4px 10px 4px 26px;
    margin-right: unset;
    margin-left: 10px;
    background: var(--primary);
}

.multiselect__tag-icon {
    margin-left: unset;
    margin-right: 7px;
    right: unset;
    left: 0;
}

.multiselect__tag-icon:after {
    color: var(--primary-dark);
}

.multiselect__tag-icon:focus, .multiselect__tag-icon:hover {
    background: var(--info);
}

.multiselect__current {
    padding: 8px 12px 0 30px;
}

.multiselect__select {
    right: unset;
    left: 1px;
}

.multiselect__select:before {
    right: unset;
    left: 0;
    top: 73%;
}

.multiselect__option:after {
    right: unset;
    left: 0;
    padding-left: 12px;
    padding-right: 20px;
}

.multiselect__option--highlight {
    background: var(--primary);
}

.multiselect__option--highlight:after {
    background: var(--primary);
}

.multiselect__option--selected.multiselect__option--highlight {
    background: var(--danger);
}

.multiselect__option--selected.multiselect__option--highlight:after {
    background: var(--danger);
}

.multiselect__option--group-selected.multiselect__option--highlight {
    background: var(--danger);
}

.multiselect__option--group-selected.multiselect__option--highlight:after {
    background: var(--danger);
}
